<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/vi.css">
</head>
<body>
    <header>

        <nav style="position: absolute;top: 10px;right: 60px;">
            <ul>
                <li><strong><a href="#" style="color: black;"></a></strong></li>
                <li><strong><a href="#" style="color: black;"></a></strong></li>
                <li><strong><a href="#" style="color: black;"></a></strong></li>
            </ul>
        </nav>
    </header>
    <h1 style="text-align: center;color: orange;">Veja todas as nossas Passagens e Pacotes</h1>


    <div style="display: flex; margin-left:-150px">
        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                </div>
                <a href=""><img src="../Fotos/1_bp.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
          box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Fortaleza + Beach Park - 2023</h4>
                <p>📆 5 diarias</p>
                <p> <del>De R$ 600,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$300,00</p></strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-70%</p>
                </div>
                <a href=""><img src="../Fotos/viagens-personalizadas-para-o-japao.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
         box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Japão (Tóquio) - 2023 e 2024</h4>
                <p>📆 7 diarias</p>
                <p> <del>De R$ 10000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000</p></strong>
            </div>
        </div>

        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-75%</p>
                </div>
                <a href=""><img src="../Fotos/28_shutterstock_41365018___Piscina_subter__nea_dentro_de_cavernas___Parque_Nacional_da_Chapada_Diamantina__BA.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
         box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Chapada Diamantina (Bahia) - 2023</h4>
                <p>📆 6 diarias</p>
                <p> <del>De R$ 2000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$500,00</p>.</strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-60%</p>
                </div>
                <a href=""><img src="../Fotos/india.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
         box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem Índia - 2023</h4>
                <p>📆 8 diarias</p>
                <p> <del>De R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$2000,00</p></strong>
            </div>

        </div>
    </div>






    <div style="display: flex; margin-left:-150px">

        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-20%</p>
                </div>
                <a href=""><img src="../Fotos/014LCM-IM2101-lencois-maranhenses-768.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
            box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>
                    São Luís, MA
                    Pacote de Viagem -Lençóis Maranhenses - 2022
                </h4>
                <p>📆 6 diarias</p>
                <p> <del> R$ 1000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$800,00</p></strong>
            </div>
        </div>



        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                </div>
                <a href=""><img src="../Fotos/australia-sydney-opera-house.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
                box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Austrália (Sydney) - 2023</h4>
                <p>📆 6 diarias</p>
                <p> <del>De R$ 3000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$1500</p></strong>
            </div>
        </div>




        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                </div>
                <a href=""><img src="../Fotos/cabanas-aerial.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
                    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Aruba - 2023 e 2024</h4>
                <p>📆 7 diarias</p>
                <p><del> De R$ 4000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$2000,00</p></strong>
            </div>
        </div>
        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-55%</p>
                </div>
                <a href=""><img src="../Fotos/53498_exterior_view_3.webp" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
                        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h5>Pacote de Viagem - Gramado+ Skyglass - 2023</h5>
                <p>📆 3 diarias</p>
                <p>De<del> R$ 700,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$315,00</p></strong>
            </div>
        </div>




    </div>




    <div style="display: flex; margin-left:-150px ">

        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/20210922182454450793e.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
                    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Recife - Carnaval 2022</h4>
                <p>📆 6 diarias</p>
                <p>De<del> R$ 2500,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$1500,00</p></strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/cf2.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
             box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Cabo Frio - Carnaval 2022</h4>
                <p>📆 10 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
            </div>
        </div>





        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/csm_CARNAVAL-JP-31-01-2020_15e75e14ff.png" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
                box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - João Pessoa - Carnaval 2022</h4>
                <p>📆 4 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/o-que-fazer-em-maragogi-3.jpg" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
             box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Maragogi - Carnaval 2022</h4>
                <p>📆 4 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
            </div>
        </div>
    </div>









    <div style="display: flex; margin-left:-150px">

        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/9_carnaval.webp" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
             box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Gramado ou Canela - Carnaval 2022</h4>
                <p>📆 3 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/FB_IMG_15828247545581771.webp" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
             box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Itacaré - Carnaval 2022</h4>
                <p>📆 7 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
            </div>
        </div>




        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/1_ba270120026_16606888.webp" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
              box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Porto de Galinhas - Carnaval 2022</h4>
                <p>📆 3 diarias</p>
                <p>De <del>R$ 6000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$1000,00</p></strong>
            </div>
        </div>


        <div id="alinhar">
            <div id="cards">
                <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                    <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                </div>
                <a href=""><img src="../Fotos/1_54a553c239a288ce4bcfd4439240952e.webp" alt="" id="imagempromo"> </a>
            </div>

            <div style=" border-radius: 5px;
               box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                <h4>Pacote de Viagem - Brasília - Carnaval 2022</h4>
                <p>📆 3 diarias</p>
                <p>De <del>R$ 5000,00</del></p>
                <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$700,00</p></strong>
            </div>
        </div>





    </div>










</body>
</html>