@{
    ViewData["Title"] = "Promocoes";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veja nossas promoções</title>
    <link rel="stylesheet" href="../Css/vi.css">



    <style>

        li {
            display: inline;
            margin-left: 20px;
        }

        #cards {
            display: inline;
            width: 500px;
            height: 300px;
            margin-left: 10px;
        }

        * {
            margin: 0;
            padding:0;
        }

        #cardsimagem {
            width: 400px;
            height: 300px;
        }

        #imagempromo {
            width: 300px;
            height: 200px;
        }

        #text {
            text-align: center;
            color: white;
            padding-top: 70px;
            position: absolute;
            top: 100px;
            right: 200px;
        }

        #alinhar {
            margin-left: 20px;
        }

        #main {
            position: relative;
            padding-top: 300px;
            width: 100vw;
            background: url(../Fotos/Punta-Cana-6.jpg);
            height: 400px;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>

        <nav style="position: absolute;top: 10px;right: 60px;">
            <ul>
                <li><a href="Promoções.html">Promoções</a></li>
                <li><a href="bordas.html">Contato</a></li>
                <li><a href="">Cadastro</a></li>
            </ul>
        </nav>
        </header>
        <img src="../Fotos/Confira nossa promoções.png" alt="" style="width:100vw  ;height: 500px; margin-left:-120px">

        <h1 style="text-align: center; color:orange">Confira nossa melhores promoções</h1>


        <div style="display: flex; margin-left:-90px">

            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                    </div>
                    <a href=""><img src="../Fotos/1_bp.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
          box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Fortaleza + Beach Park - 2023</h4>
                    <p>📆 5 diarias</p>
                    <p> <del>De R$ 600,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$300,00</p></strong>
                </div>
            </div>



            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-70%</p>
                    </div>
                    <a href=""><img src="../Fotos/viagens-personalizadas-para-o-japao.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
         box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Japão (Tóquio) - 2023 e 2024</h4>
                    <p>📆 7 diarias</p>
                    <p> <del>De R$ 10000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000</p></strong>
                </div>
            </div>






            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-60%</p>
                    </div>
                    <a href=""><img src="../Fotos/india.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
         box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem Índia - 2023</h4>
                    <p>📆 8 diarias</p>
                    <p> <del>De R$ 5000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$2000,00</p></strong>
                </div>

            </div>





            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                    </div>
                    <a href=""><img src="../Fotos/australia-sydney-opera-house.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Austrália- 2023</h4>
                    <p>📆 6 diarias</p>
                    <p> <del>De R$ 3000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$1500</p></strong>
                </div>
            </div>


        </div>
        <h2 style="text-align: center; color:orange">Nossas  melhores promoções pelo Brasil</h2>

        <div style="display: flex;margin-left:-90px">
            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                    </div>
                    <a href=""><img src="../Fotos/1_bp.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Fortaleza + Beach Park - 2023</h4>
                    <p>📆 5 diarias</p>
                    <p> <del>De R$ 600,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$300,00</p></strong>
                </div>
            </div>



            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-55%</p>
                    </div>
                    <a href=""><img src="../Fotos/53498_exterior_view_3.webp" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
            box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Gramado+ Skyglass - 2023</h4>
                    <p>📆 3 diarias</p>
                    <p>De<del> R$ 700,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$315,00</p></strong>
                </div>
            </div>

            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-40%</p>
                    </div>
                    <a href=""><img src="../Fotos/o-que-fazer-em-maragogi-3.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 20px;
                box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Maragogi - Carnaval 2022</h4>
                    <p>📆 4 diarias</p>
                    <p>De <del>R$ 5000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000,00</p></strong>
                </div>
            </div>





            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-75%</p>
                    </div>
                    <a href=""><img src="../Fotos/28_shutterstock_41365018___Piscina_subter__nea_dentro_de_cavernas___Parque_Nacional_da_Chapada_Diamantina__BA.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
                 box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Chapada Diamantina (Bahia) - 2023</h4>
                    <p>📆 6 diarias</p>
                    <p> <del>De R$ 2000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$500,00</p>.</strong>
                </div>
            </div>
        </div>


        <h2 style="text-align: center; color:orange">Nossas melhores promoções internacionais</h2>

        <div style="display: flex; margin-left:-90px">

            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                    </div>
                    <a href=""><img src="../Fotos/australia-sydney-opera-house.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h3>Pacote de Viagem - Austrália (Sydney) - 2023</h3>
                    <p>📆 6 diarias</p>
                    <p> <del>De R$ 3000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$1500</p></strong>
                </div>
            </div>


            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-60%</p>
                    </div>
                    <a href=""><img src="../Fotos/india.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
     box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem Índia - 2023</h4>
                    <p>📆 8 diarias</p>
                    <p> <del>De R$ 5000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$2000,00</p></strong>
                </div>
            </div>



            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-70%</p>
                    </div>
                    <a href=""><img src="../Fotos/viagens-personalizadas-para-o-japao.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
     box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22); margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Japão (Tóquio) - 2023 e 2024</h4>
                    <p>📆 7 diarias</p>
                    <p> <del>De R$ 10000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$3000</p></strong>
                </div>
            </div>


            <div id="alinhar">
                <div id="cards">
                    <div style="color: orange; position: relative; top: 30px; border: solid; width: 35px ;height: 20px; background-color: orange;">
                        <p style="text-align: center; position: relative ;top: -15px; color: white;">-50%</p>
                    </div>
                    <a href=""><img src="../Fotos/cabanas-aerial.jpg" alt="" id="imagempromo"> </a>
                </div>

                <div style=" border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);  margin-top: -8px;" id="imagempromo">
                    <h4>Pacote de Viagem - Aruba - 2023 e 2024</h4>
                    <p>📆 7 diarias</p>
                    <p><del> De R$ 4000,00</del></p>
                    <strong><p style="color: orange; font-size: 30px; margin-top: -10px;">R$2000,00</p></strong>
                </div>
            </div>
        </div>


</body>
</html>