USE [master]
GO
/****** Object:  Database [Viagem]    Script Date: 20/12/2021 22:52:10 ******/
CREATE DATABASE [Viagem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Viagem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Viagem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Viagem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Viagem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Viagem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Viagem]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/12/2021 22:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[cpf] [nvarchar](50) NOT NULL,
	[senha] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Cliente] UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passagem]    Script Date: 20/12/2021 22:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passagem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[embarque] [nvarchar](50) NOT NULL,
	[destino] [nvarchar](50) NOT NULL,
	[acompanhantes] [int] NOT NULL,
	[ida] [datetime] NOT NULL,
	[volta] [datetime] NOT NULL,
 CONSTRAINT [PK_Passagem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passagem_Cliente_Venda]    Script Date: 20/12/2021 22:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passagem_Cliente_Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Cliente] [int] NOT NULL,
	[id_Passagem] [int] NOT NULL,
	[preco] [decimal](18, 0) NOT NULL,
	[data_compra] [datetime] NOT NULL,
 CONSTRAINT [PK_Passagem_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Passagem_Cliente_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Passagem_Cliente_Cliente] FOREIGN KEY([id_Cliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Passagem_Cliente_Venda] CHECK CONSTRAINT [FK_Passagem_Cliente_Cliente]
GO
ALTER TABLE [dbo].[Passagem_Cliente_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Passagem_Cliente_Passagem] FOREIGN KEY([id_Passagem])
REFERENCES [dbo].[Passagem] ([id])
GO
ALTER TABLE [dbo].[Passagem_Cliente_Venda] CHECK CONSTRAINT [FK_Passagem_Cliente_Passagem]
GO
USE [master]
GO
